<%= render 'form', 
    url: new_work_result_daily_path, 
    main_title: t('.main_title'),
    button: t('button.create')
%>

<div>
  <ul>
    <li>※ 終了時刻が24時を過ぎた場合は、時間をずらして0-24時に収まる範囲で記載ください</li>
    <li>※ 休憩時間等もある場合は、稼働時間は必ずしも開始時刻と終了時刻の差分と一致している必要はありません</li>
    <li>※ 稼働時間は小数で記載ください（例: 2.5時間の稼働であれば、「2.5」）</li>
  </ul>
</div>