body {
	background-color:#F4F9FA;
}
.navbar-brand {
  max-width: 150px;
}

.border-left-line {
  border-left: 5px solid #000000;
  margin-top: 50px;
  padding-left: 10px;
}

.main-content {
  padding: 1em;
}