.work-result-main-content {
  padding: 1em;
  margin: 1em;
  background-color:#FFF;
  border-radius: 10px;
  display:flex;
}

.main-content-side {
  margin:1em 0em;
  width: 10%;
}

.main-content-main {
  margin:1em 3em;
  width: 90%;
}