.header-content {
  display:flex;
}

.work-result-summary {
  margin: 0 0 0 auto;
  margin-top: 50px;
  font-size: 20px;
}

.work-result-main-content {
  padding: 1em;
  margin: 1em;
  background-color:#FFF;
  border-radius: 10px;
  display: flex;
}

.main-content-side {
  margin:1em 1em;
  width: 10%;
}

.this-month {
  text-align: center;
  display: block;
}

.next-month {
  margin: 1em 0em;
  text-align: center;
  display: block;
}

.last-month {
  margin: 1em 0em;
  text-align: center;
  display: block;
}

.main-content-main {
  margin:1em 3em;
  width: 90%;
}